caption /* Titre du tableau */
{
   margin: auto; /* Centre le titre du tableau */
   font-family: Arial, Times, "Times New Roman", serif;
   font-weight: bold;
   font-size: 1.2em;
   color: #009900;
   margin-bottom: 20px; /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
}

table /* Le tableau en lui-même */
{
   margin: auto; /* Centre le tableau */
   border: 2px outset rgb(0, 70, 128); /* Bordure du tableau avec effet 3D (outset) */
   border-collapse: collapse; /* Colle les bordures entre elles */
   width:100%;
}
th /* Les cellules d'en-tête */
{
   background-color: #095f9494;
   color: white;
   font-size: 1.1em;
   font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
   border:1px solid rgb(0, 70, 128);
}

td /* Les cellules normales */
{
   border: 1px solid rgb(0, 70, 128);
   font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
   text-align: center; /* Tous les textes des cellules seront centrés*/
   padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}
td.time
{
    width:5%;
}

/*Mise en forme*/

#title{
    text-align: center ;
}

.bouton_deco {
color: white;
background-color: #000080;
text-decoration: none;
text-align: center;
padding: 5px;
border: 2px outset #c0c0c0;
position : absolute ;
right : 30px;
}

.bouton_deco:hover {
background-color: #6495ED;
border: 2px inset #c0c0c0;
}

.bouton_relief {
color: white;
background-color: #000080;
text-decoration: none;
text-align: center;
padding: 5px;
border: 2px outset #c0c0c0;
}

.bouton_relief:hover {
background-color: #6495ED;
border: 2px inset #c0c0c0;
}



.connexion {
    font-size: 20px ;
    border: 2px solid #0134c0;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5% ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    text-align: center
    
}

footer{
    text-align: center ;
}