caption /* Titre du tableau */
{
   margin: auto; /* Centre le titre du tableau */
   font-family: Arial, Times, "Times New Roman", serif;
   font-weight: bold;
   font-size: 1.2em;
   color: #009900;
   margin-bottom: 20px; /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
}

table /* Le tableau en lui-même */
{
   margin: auto; /* Centre le tableau */
   border-collapse: collapse; /* Colle les bordures entre elles */
   width:100%;
}


th /* Les cellules d'en-tête */
{
   background-color: #3f108aab;
   color: white;
   font-size: 1.1em;
   font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
   /* border:1px solid rgb(0, 70, 128); */
   height: 2.4em;
}




/* Les cellules normales */
td 
{
   border: 1px solid ;
   font-family:  Arial, "Arial Black", Times, "Times New Roman", serif;
   font-size : 17px ;
   text-align: center; /* Tous les textes des cellules seront centrés*/
   padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}


td:not(:empty) {
	/* avec une classe css ou avec un tr:nth-child(2) de tbody */
	border-radius: 0.5em;
	background-color: #02537e94;
	/* border-color: rgb(110, 178, 199); */
	border-style: outset;
	border-width: 2px;
	box-shadow: 1px 1px black;
	color: white;
}

td.time
{
    width:5%;
    background-color: #3f108aab ;
}
 
th:not(:empty) {
	border-radius: 0.5em;
	border-style: outset;
	border-width: 2px;
	box-shadow: 1px 1px black;  /* version r�cente des navigateurs, pas besoin des pr�fixes */
}


td:empty{
    border : thin dashed ;
}


/*Mise en forme*/
body {
    background-color: #b7bec4 ;
}


#title{
    text-align: center ;
    text-shadow : 1px 1px 2px gray ;
}


/* Les div  */

.deco {
position: absolute;
right : 150px ;
top : 10px ;
text-align: center ;
}

.formulaire {
    font-size: 20px ;
    width : 700px ;
    margin :auto;
    margin-top: 5px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    text-align: left ;
}

.ajout_retrait {
    background-color: #dfdfdf ;
    border-radius: 15px ;
    width : 800px ;
    margin :auto;
    margin-top: 15px ;
    padding-top: 5px ;
    padding-bottom: 5px ;
    text-align: left ;
}

/* Les boutons  */

.bouton_deco {
color: white;
background-color: #800000;
text-decoration: none;
text-align: center;
padding: 5px;
border: 2px outset #c0c0c0;
position : absolute ;
right : 30px;
top : 35px ;
border-radius:5px;
font-size: 18px ;
}

.bouton_deco:hover {
background-color: #800000b2;
/* background-color: #6495ED; */
border: 2px inset #c0c0c0;
}


.return_planning {
color: white;
background-color: #800000;
text-decoration: none;
text-align: center;
padding: 5px;
border: 2px outset #c0c0c0;
position : absolute ;
left : 30px;
top : 35px ;
border-radius:5px;
font-size: 18px ;
}

.return_planning:hover {
background-color: #6495ED;
border: 2px inset #c0c0c0;
}

.access_form {
color: white;
background-color: #800000;
text-decoration: none;
text-align: center;
padding: 5px;
border: 2px outset #c0c0c0;
border-radius:5px;
font-size: 18px ;
}

.access_form:hover {
background-color: #6495ED;
border: 2px inset #c0c0c0;
}

input[type=submit] {
color: white;
background-color: #000080;
text-decoration: none;
text-align: center;
padding: 5px;
border: 2px outset #c0c0c0;
border-radius:5px;
font-size: 16px ;
}

input[type=submit]:hover {
background-color: #6495ED;
border: 2px inset #c0c0c0;
}

input[type=text], input[type=password],select, option {
 background-color:#FFF3F3;
 }

input[type=text],input[type=password], select {
 padding:5px;
 border:1px solid rgb(143, 145, 233);
 border-radius:5px;
 width:auto;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 font-size: 16px ;
 }

select {
 margin-top:10px;
 }

.connexion {
    font-size: 20px ;
    border: 2px solid #021b5c;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5% ;
    padding-top: 15px ;
    padding-bottom: 15px ;
    text-align: center
    
}

footer {
		bottom: 0px;
		text-align: center;
        width: 100%;

}

.img_index {
    display: block;
    margin: auto;
    /* vertical-align: center; */
 
}